.EditPostDiv {
	max-width: 700px;
	padding: 20px;
}

.postTitle h1 {
	font-size: 32px;
	font-weight: bold;
	line-height: 1.3;
}

.profile-img {
	width: 40px;
	height: 40px;
	border-radius: 50%;
}

.post-author {
	font-weight: bold;
}

.actions {
	display: flex;
	gap: 20px;
	margin: 10px 0;
	font-size: 14px;
	color: #777;
}

.post-content {
	font-size: 18px;
	line-height: 1.6;
}

.highlight {
	background-color: #eef6ee;
	padding: 3px;
}