.home-header{
	display:flex;
	align-items: center;
	justify-content: space-between;
}

.logo-img{
	width:40px;
	height:40px;
	margin-left:1em;
}

.homePage-searchBar{
	border-radius: 2em;
	padding: 3px;
	margin-left:0.5em;
	background-color: rgb(243, 235, 235);
}