<div ng-controller="HomeController">
  <nav>
    <div class="home-header">
      <div>
        <img src="../thumbnails/icon-api.png" class="logo-img" />
        <input type="text" placeholder="Search" class="homePage-searchBar" />
      </div>
      <div class="homepage-icons">
        <div>
          <i class="fa-regular fa-pen-to-square" ng-click="onWriteClick()"></i>
          <span ng-click="onWriteClick()">write</span>
        </div>
        <i class="fa-regular fa-bell"></i>
        <i class="fa-regular fa-user" ng-click="onProfileIconClick()"></i>
      </div>
    </div>
  </nav>
</div>

<div ng-if="onProfileIconClick(true)">
<div class="profileIconModal">
	<ul>
		<li>Alterar Perfil</li>
		<li>Logout</li>
	</ul>
</div>
</div>