<div class="editPostModal">
  <div class="editText">
    <h2>Edit your post</h2>
    <p>Title:</p>
    <input type="text" ng-model="post.title" />
    <p>Summary:</p>
    <input type="text" ng-model="post.summary" />
  </div>
  <div class="postEditThumbnail">
    <p>Thumbnail:</p>
    <input
      type="text"
      ng-model="post.post_thumbnail"
      placeholder="Insira uma URL"
    />
  </div>
  <div>
    <p>Text:</p>
    <textarea
      id="editPostText"
      placeholder="tell your story..."
      ng-model="post.text"
    ></textarea>
  </div>
  <div class="editPostButtons">
    <button ng-click="editPost()">Publish</button>
    <button ng-click="closePostModal()">Cancel</button>
  </div>
</div>
