<div class="postsDiv">
  <div class="postsHeader">
    <i class="fa-solid fa-plus post-header-elements plus-icon"></i>
    <span class="post-header-elements">For you</span>
    <span class="post-header-elements">Following</span>
  </div>

  <div ng-repeat="post in posts" class="post">
    <div class="post-content">
      <div class="post-info">
        <span class="post-profile">
          <img
            ng-src="{{post.user.profile_img || 'https://placehold.co/40x40'}}"
            class="profile-image"
          />
          <span class="user-name">{{post.user.name}}</span>
        </span>
        <h3 class="post-title">{{post.title}}</h3>
        <h5 class="post-summary">{{post.summary}}</h5>
        <span class="post-meta">
          <span class="date">{{post.createdAt | formatDate}}</span>
          <span class="likes">
            <i
              class="fa-regular fa-heart be-pointer"
              ng-click="like(post.id, $event)"
            ></i>
            {{post.post_likes}}
          </span>
          <span class="comments">
            <i class="fa-regular fa-comment"></i>
            {{post.comments}}
          </span>
		  <span class="editPost">
			<i class="fa-solid fa-ellipsis" ng-cick="openExtraActions()"></i>
		  </span>
        </span>
      </div>

      <div class="post-thumbnail">
        <img
          ng-src="{{post.post_thumbnail || 'https://placehold.co/120x90'}}"
          alt="Post Thumbnail"
          class="postThumbnail"
        />
      </div>
    </div>
    <div class="post-line"></div>
  </div>
</div>
