<div class="postsDiv">
  <div class="postsHeader">
    <i class="fa-solid fa-plus post-header-elements plus-icon"></i>
    <span class="post-header-elements">For you</span>
    <span class="post-header-elements">Following</span>
  </div>
  <div ng-repeat="post in posts" class="post">
    <span class="post-profile">
      <img src="{{user.profile_img}}" alt="" class="profile-image" />
      <span>{{post.user.name}}</span>
    </span>
    <h3>{{post.title}}</h3>
    <h5>{{post.summary}}</h5>
    <span>
      <span class="date"> {{post.createdAt | formatDate}} </span>
      <span class="likes">
        <i
          class="fa-regular fa-heart be-pointer"
          ng-click="like(post.id, $event)"
        ></i>
        {{post.post_likes}}
      </span>
      <span>
        <i class="fa-regular fa-comment"></i>
        {{post.comments}}
        <div class="icons-div">
          <i
            class="fa-regular fa-trash-can trash be-pointer"
            ng-click="removePost(post.id, $event)"
          ></i>
          <i class="fa-regular fa-bookmark save"></i>
          <i
            class="fa-solid fa-ellipsis-vertical ellipsis be-pointer"
            ng-click="toggleEdit(post.id, $event)"
          ></i>
          <ul
            ng-show="isEditVisible[post.id]"
            class="dropdown-edit"
            ng-style="dropdownPosition[post.id]"
          >
            <li ng-click="editModal($event)">Editar</li>
          </ul>
        </div>
      </span>
    </span>
    <span class="post-footer-right"> </span>
    <span class="img-absolute">
      <img src="{{post.post_thumbnail}}" alt="" class="postThumbnail" />
    </span>
    <div class="post-line"></div>
  </div>
</div>
