<div class="postsDiv">
  <div class="postsHeader">
		<i class="fa-solid fa-plus post-header-elements plus-icon"></i>
		<span class="post-header-elements">For you</span>
		<span class="post-header-elements">Following</span>
  </div>
  <div ng-repeat="post in posts | filter:searchText" class="post">
		<div class="post-content" ui-sref="post({ id: post.id })">
			<div class="post-info">
				<div class="accessPost">
					<span class="post-profile">
						<img
							ng-src="{{post.user.profile_img || 'https://placehold.co/40x40'}}"
							class="profile-image"
						/>
						<span class="user-name">{{post.user.name}}</span>
					</span>
					<h3 class="post-title">{{post.title}}</h3>
					<h5 class="post-summary">{{post.summary}}</h5>
				</div>
				<span class="post-meta">
					<span class="date">{{post.createdAt | formatDate}}</span>
				<span class="postLikeSection">
					<i class="fa-regular fa-heart be-pointer" title="Likes"></i>
					{{post.post_likes}}
				</span>
				<span class="postCommentSection">
					<i class="fa-regular fa-comment" title="Comments"></i>
					{{post.comments}}
				</span>
				<span class="actionsSection" ng-show="post.user_id == currentUser" ng-click="$event.stopPropagation()">
					<i class="fa-solid fa-ellipsis" ng-click="onExtraActionsClick(post.id)" title="More"></i>
					<div ng-show="ExtraActionsSection === post.id">
						<ul class="doca-dropdown__list ellipsis-ul">
							<li class="doca-dropdown__list__item doca-dropdown__list__item--action ellipsis-li" ng-click="onEditClick(post.id)">
								<i class="fa-light fa-pen-fancy"></i>
								Edit Post
							</li>
							<hr
							class="doca-separator"
							/>
							<li class="doca-dropdown__list__item doca-dropdown__list__item--action" ng-click="postExclusion(post.id)">
								<i class="fa-light fa-circle-minus"></i>
								Delete Post
							</li>
						</ul>
					</div>
				</span>
			</div>
			<div class="post-thumbnail">
				<img
				ng-src="{{post.post_thumbnail || 'https://placehold.co/120x90'}}"
				alt="Post Thumbnail"
				class="postThumbnail"
				/>
			</div>
		</div>
  </div>
</div>
