<div class="modal-backdrop" ng-show="showModal">
  <div class="modal">
    <div class="modal-header">
      <h5 class="modal-title">Profile Options</h5>
      <button type="button" class="close">&times;</button>
    </div>
    <div class="modal-body">
      <p>Choose an option for your profile:</p>
      <ul>
        <li><a href="#/viewProfile">View Profile</a></li>
        <li><a href="#/editProfile">Edit Profile</a></li>
        <li><a href="#/logout">Logout</a></li>
      </ul>
    </div>
    <div class="modal-footer">
      <button>Cancel</button>
    </div>
  </div>
</div>
