<custom-header></custom-header>
<div class="postContainer">
  <div class="postTitle">
    <h1>{{post.title}}</h1>
  </div>
  <div class="postInfo">
    <span>
      <img
        src="{{post.user.profile_img || 'https://placehold.co/40x40'}}"
        class="postProfileImg"
      />
    </span>
    <div class="postAuthor">
      <span>{{post.user.name}}</span>
    </div>
    <div class="postDot">•</div>
    <div class="postFollow">
      <h5>Follow</h5>
    </div>
    <div class="postDate">{{post.createdAt | formatDate}}</div>
  </div>
  <hr class="postSeparator" />
  <div class="postActions">
    <span class="postLike" ng-click="showLikeCount(post)">
      <i class="fa-regular fa-heart be-pointer" title="Likes"></i>
      {{post.post_likes}}
    </span>
  </div>
  <hr class="postSeparator" />
  <div class="postContent">
    <p>{{post.text}}</p>
  </div>
</div>
